{% extends 'base.html.twig' %}

{% block body %}
{{ parent() }}
    <h1>Category</h1>
<br><br><br>
<br>
<div class="container">
    <div class="col-md-4"></div>
    <div class="col-md-4">
    <table id="t01" class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ category.name }}</td>
            </tr>
        </tbody>
    </table>

            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
{% endblock %}
