body {
    background: url(https://images.unsplash.com/photo-1495815571604-8f4858cd8767?auto=format&fit=crop&w=1491&q=80);
    background-size: cover;
    background-position: center;

}

html {
    width: 100%;
    height: 100%;
    font-family: "Lato";
    color: white;
}

h1 {
    font-weight: 700;
    font-size: 5em;
    text-align: center;
    padding-top: 70px;
}
h2{
    font-weight: 500;
    font-size: 3em;
    text-align: center;
}
.content{
    padding-top: 25%;
    text-align: center;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
}

hr {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.navbar-fixed-left {
    width: 8%;
    position: fixed;
    padding-top: 30px;
    border-radius: 0;
    height: 100%;
}

.navbar-fixed-left .navbar-nav > li {
    float: none;  /* Cancel default li float: left */
    width: 139px;
}

.navbar-fixed-left + .container {
    padding-left: 160px;
}
table#t01 {
    text-align: left;
    padding-left: 10%;
}
form {
    text-align: center;
    color: darkgray;
    padding-top: 50px;
}
a {
    color: white;
}

p{
    font-size: large;
    text-align: center;
    padding-top: 40px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: darkgray;
    color: white;
}

