<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />

    <title>{% block title %}Financial Avocado{% endblock %}</title>
    <link rel="shortcut icon" type="image/x-icon" href="../../../web/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="{{ asset('app/Resources/views/main.css') }}" rel="stylesheet" type="text/css"/>
    <style>
        body {
            background: url(https://images.unsplash.com/photo-1482977036925-e8fcaa643657?auto=format&fit=crop&w=1868&q=80);
            background-size: cover;
            background-position: center;

        }

        body,
        html {
            width: 100%;
            height: 100%;
            font-family: "Lato";
            color: Black;
        }

        h1 {
            font-weight: 700;
            font-size: 5em;
            text-align: center;
            padding-top: 70px;
        }
        h2{
            font-weight: 500;
            font-size: 3em;
            text-align: center;
        }
        .content{
            padding-top: 25%;
            text-align: center;
            text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
            0px 8px 13px rgba(0,0,0,0.1),
            0px 18px 23px rgba(0,0,0,0.1);
        }

        hr {
            width: 400px;
            border-top: 1px solid #f8f8f8;
            border-bottom: 1px solid rgba(0,0,0,0.2);
        }

        .navbar-fixed-left {
            width: 8%;
            min-width: 110px;
            position: fixed;
            padding-top: 30px;
            border-radius: 0;
            height: 100%;
            border-color: black;
        }

        .navbar-fixed-left .navbar-nav > li {
            float: none;  /* Cancel default li float: left */
            width: 139px;
        }

        .navbar-fixed-left + .container {
            padding-left: 160px;
        }
        table#t01 {
            text-align: left;
            padding-left: 10%;
        }
        form {
            text-align: center;
            color: darkgray;
            padding-top: 50px;
        }
        a {
            color: black;
        }

        p{
            font-size: large;
            text-align: center;
            padding-top: 40px;
        }
        .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
            background-color: darkgray;
            color: white;
        }
        .navbar-default{
            background-color: black;
            color: White;
        }
        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: black;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }

        .sidenav a {
            padding: 8px 8px 8px 10px;
            text-decoration: none;
            font-size: 20px;
            background-color: black;
            color: gray;
            display: block;
            transition: 0.3s;
        }

        .sidenav a:hover {
            color: gray;
            background-color: white;
        }

        .sidenav .closebtn {
            font-size: 40px;
            padding-top: 5px;
            padding-left: 63px;
            alignment: center;
        }
        .sidenav .closebtn a:hover{
            background-color: white;
            color: black;
        }

        @media screen and (max-height: 450px) {
            .sidenav {padding-top: 60px;}
            .sidenav a {font-size: 18px;}
        }
        {% block style %}
        {% endblock %}




    </style>
</head>
<body>
{% block body %}
    <script>
        var theme=true;
    </script>
{% endblock %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" ></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
