{% extends 'base.html.twig' %}
{% block body %}

        <h1>About us</h1>
        <p>
            Financial Avocado is a simple platform that allows you to manage your finances in a simple and quick fashion.
        </p>


{% endblock %}