{% extends 'base.html.twig' %}
{% block body %}
    {{ parent() }}

<br><br>
    <h1>About us</h1>
        <p>
            Financial Avocado is a simple platform that allows you to manage your finances in a simple and quick fashion.
        </p>
    <br>
    <h2>Contact</h2>
    <br>
    <p>Jan Jasinski - Student II roku Informatyki WEAIIB</p>
    <p>jasinski.ja@gmail.com</p>
    <p>Nr. albumu - 285390</p>



{% endblock %}